
        .logo img {
            width: 130px;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .right ul {
            display: flex;
            gap: 34px;
        }

        .right ul li {
            list-style: none;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .right ul li span {
            padding: 0 3px;
        }

        .first {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 20px;
            font-family: sans-serif;
        }

        .first span {
            font-size: 40px;
        }

        .first span img {
            margin: 0 20px;
        }

        .first p {
            font-size: 23px;
            width: 60vw;
            text-align: center;
        }

        .btn {
            background-color: #00b6d1;
            padding: 15px 15px;
            border: none;
            border-radius: 6px;
            font-weight: 700;
            color: white;
            margin: 12px 0;
            cursor: pointer;
        }
        .btn a{
            text-decoration: none;
            color: white;
        }

        .green {
            background-color: #5cb85c;
        }

        .second {
           max-width: 65vw;
           margin: auto;
            
        }

        .small {
            font-size: 12px;
        }

        .item {
            padding: 23px;
            background-color: #f9f9f9;
            border-radius: 12px;
            font-size: 20px;
            text-align: center;
        }
        .item-lang{
            font-weight: 700;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            padding-bottom:23px;
        }
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }
        .download{
            display: flex;
            font-family: sans-serif;
            align-items: center;
            gap: 5px;
        }
        .download img{
            width: 90px;
            padding: 25px 15px;
        }
        .download :nth-child(2){
          font-size: 23px;
        }
        
        @media  screen and (max-width:1145px) {
          .grid{
              grid-template-columns: 1fr;
          }
            
        }
